* {
    padding: 0;
    margin: 0;
    font-family: monospace;
}

body {
    overflow: hidden;
    position: fixed;
    -webkit-overflow-scrolling: touch;
}

#BitBoard {
    position: absolute;
    top: 0;
    left: 0;
    image-rendering: pixelated;
    width: 100vw;
    height: 100vh;
    background-color: #e0e0e0;
}

#gridWrapper {
    position: fixed;
    bottom: top;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transition: background 1s;
}

#gridWrapper > #colorTool, #zoomTool {
	visibility: visible;
}


#gridWrapper[hide=true] {
	pointer-events: none;
	background: none;
}

#ui-wrapper[hide=true] > #colorTool, #zoomTool {
	visibility: visible;
}

#colorTool {
	position: absolute;
	bottom: 40px;
	left: 20px;
	display: flex;
	flex-direction: row;
}

#color-swatch {
	width: 20px;
	height: 22px;
	background-color: #000000;
}

#color-field {
	height: 20px;
	padding: 1px;
	border: none;
	outline: none;
	pointer-events: all;
}

#loading-p {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 1.4em;
	transform: translate(-50%,-50%);
}

#zoomTool {
	position: absolute;
	bottom: 40px;
	right: 16px;
}

.zoomButton {
	width: 30px;
	height: 30px;
	border: none;
	background: none;
	outline: none;
	background-color: red;
	font-size: 22px;
	background-color: #ffffff;
	border: 1px solid black;
	cursor: pointer;
	pointer-events: all;
	user-select: none;
}